@tailwind base;
@tailwind components;
@tailwind utilities;


*{
font-family: 'Lexend', sans-serif;

}


.arrow-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.fa-angle-double-right{
    font-size: 50px;
    color: aliceblue;
}

.fa-angle-double-left{
    font-size: 50px;
    color: aliceblue
}

.fa-github-square{
    font-size: 30px;
}

.fa-linkedin{
    font-size: 30px;
}
