@tailwind base;
@tailwind components;
@tailwind utilities;


*{
font-family: 'Lexend', sans-serif;
overflow: hidden;
}


.arrow-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.fa-angle-double-right{
    font-size: 50px;
}

.fa-angle-double-left{
    font-size: 50px;
}

.body{
    
}
